<%= form_for(@director) do |f| %>
  <% if @director.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@director.errors.count, "error") %> prohibited this director from being saved:</h2>

      <ul>
      <% @director.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :id %><br />
    <%= f.number_field :id %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :photo %><br />
    <%= f.text_field :photo %>
  </div>
  <div class="field">
    <%= f.label :sex %><br />
    <%= f.number_field :sex %>
  </div>
  <div class="field">
    <%= f.label :birthday %><br />
    <%= f.date_select :birthday %>
  </div>
  <div class="field">
    <%= f.label :profile %><br />
    <%= f.text_area :profile %>
  </div>
  <div class="field">
    <%= f.label :belong %><br />
    <%= f.text_field :belong %>
  </div>
  <div class="field">
    <%= f.label :last_login %><br />
    <%= f.datetime_select :last_login %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
