<div id="time_line">
    <div class="time_line_bar">
        <p id="time_line_text">time line</p>
    </div>

    <div id="time_line_test_text">
        <p id="demo">雨ニモマケズ風ニモマケズ雪ニモ夏ノ暑サニモマケヌ丈夫ナカラダヲモチ慾ハナク決シテ瞋ラズイツモシヅカニワラッテヰル一日ニ玄米四合ト味噌ト少シノ野菜ヲタベ</p>
        <p id="demo">雨ニモマケズ風ニモマケズ雪ニモ夏ノ暑サニモマケヌ丈夫ナカラダヲモチ慾ハナク決シテ瞋ラズイツモシヅカニワラッテヰル一日ニ玄米四合ト味噌ト少シノ野菜ヲタベ</p>
        <p id="demo">雨ニモマケズ風ニモマケズ雪ニモ夏ノ暑サニモマケヌ丈夫ナカラダヲモチ慾ハナク決シテ瞋ラズイツモシヅカニワラッテヰル一日ニ玄米四合ト味噌ト少シノ野菜ヲタベ</p>
        <p id="demo">雨ニモマケズ風ニモマケズ雪ニモ夏ノ暑サニモマケヌ丈夫ナカラダヲモチ慾ハナク決シテ瞋ラズイツモシヅカニワラッテヰル一日ニ玄米四合ト味噌ト少シノ野菜ヲタベ</p>
        <p id="demo">雨ニモマケズ風ニモマケズ雪ニモ夏ノ暑サニモマケヌ丈夫ナカラダヲモチ慾ハナク決シテ瞋ラズイツモシヅカニワラッテヰル一日ニ玄米四合ト味噌ト少シノ野菜ヲタベ</p>
        <p id="demo">雨ニモマケズ風ニモマケズ雪ニモ夏ノ暑サニモマケヌ丈夫ナカラダヲモチ慾ハナク決シテ瞋ラズイツモシヅカニワラッテヰル一日ニ玄米四合ト味噌ト少シノ野菜ヲタベ</p>
    </div>
</div>

<div id="main_contents">
    <a href="">
        <%= image_tag "side_l.png" ,:height=>450 ,:width=>100 ,:alt=>"矢印" ,:class=>"side_l"  %>
    </a>

    <ul class="menu_ul">
        <a href=""><li class="menu_li">actress</li></a>
        <a href=""><li class="menu_li">actor</li></a>
        <a href=""><li class="menu_li">director</li></a>
    </ul>

    <div id="photo_wrapper">
        <div id="photo">
            <tr>
                <% @actresses.each do |actress| %>
                <td><%= image_tag ( asset_path "/assets/actressImage/" + actress.photo1.to_s.force_encoding("utf-8") ), :class => "photo_contents", :width => "200", :height => "400"  %></td>
                <% end %>
            </tr>
        </div>
    </div>

    <a href="">
        <%= image_tag "side_r.png" ,:height=>450 ,:width=>100 ,:alt=>"矢印" ,:class=>"side_r"  %>
    </a>
</div>

<div id="sub_contents">
    <div id="photo_reverse_wrapper">
        <div id="photo_reverse">
            <% @actresses.each do |actress| %>
                <%= image_tag ( asset_path "/assets/actressImage/" + actress.photo1.to_s.force_encoding("utf-8") ), :class => "photo_contents", :width => "200", :height => "270"  %>
            <% end %>
        </div>
    </div>

    <div id="sub_contents_back">
        <div id="photo_small">
            <% @actresses.each do |actress| %>
                <%= image_tag ( asset_path "/assets/actressImage/" + actress.photo1.to_s.force_encoding("utf-8") ), :class => "photo_contents_small", :width => "50", :height => "100"  %>
            <% end %>
        </div>
    </div>
</div>
<footer class="clearfix"></footer>
<%= link_to 'New Actress', new_actress_path %>
